html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body{
    background-color: #f2f2f2;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.logo {
    padding-right: 30px;
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Alto de la imagen */
    background-image: url('../img/jester-hat.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ajustar tamaño de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.btn-outline-primary:hover {
    color: #007bff;
    background-color: #F7F5F4;
    border-color: #007bff;
}
.imagen-contenido {
    width: 80px;
    height: 100px;
}
