﻿﻿@{
    ViewData["Title"] = "Lista Contenido";
}
<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <div class="card-header">Contenidos</div>
            <div class="card-body">

                <button class="btn btn-success" id="btnNuevo">Nuevo Contenido</button>

                <hr />

                <table class="table table-striped" id="tbContenido">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Tipo</th>
                            <th>Duración</th>
                            <th>Tamaño</th>
                            <th>Visitas</th>
                            <th>Idioma</th>
                            <th>Formato</th>
                            <th>Productor</th>
                            <th>Cartel</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!--Fin tarjeta-->

    </div>
</div>

<!--Inicio Modal-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Contenido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdContenido" value="0" />
                <div class="mb-2">
                    <label>Titulo</label>
                    <input type="text" class="form-control" id="txtTitulo" />
                </div>
                <div class="mb-2">
                    <label>Tipo</label>
                    <input type="text" class="form-control" id="txtTipo" readonly />
                </div>
                <div class="mb-2">
                    <label>Duración</label>
                    <input type="text" class="form-control" id="txtDuracion" />
                </div>
                <div class="mb-2">
                    <label>Tamaño</label>
                    <input type="text" class="form-control" id="txtTamanio" />
                </div>
                <div class="mb-2">
                    <label>Visitas</label>
                    <input type="text" class="form-control" id="txtVisitas" />
                </div>
                <div class="mb-2">
                    <label>Idioma</label>
                    <input type="text" class="form-control" id="txtIdioma" />
                </div>
                <div class="mb-2">
                    <label>Formato</label>
                    <input type="text" class="form-control" id="txtFormato" />
                </div>
                <div class="mb-2">
                    <label>Productor</label>
                    <input type="text" class="form-control" id="txtProductor" />
                </div>
                <div class="mb-2">
                    <label>Imagen</label>
                    <input type="text" class="form-control" id="txtUrlImg" />
                </div>
                <div class="mb-2">
                    <label>Tipo de Contenido</label>
                    <select class="form-select" id="selTipoContenido">
                        <option value="" selected>Seleccionar</option>
                        <option value="pelicula">película</option>
                        <option value="serie">serie</option>
                        <option value="podcast">podcast</option>
                        <option value="tvProgram">tvProgram</option>
                    </select>
                </div>
                <div class="mb-2" id="peliculaSerieFields" style="display: none;">
                    <label>Actor</label>
                    <input type="text" class="form-control" id="txtActor" />
                    <label>Actriz</label>
                    <input type="text" class="form-control" id="txtActriz" />
                </div>

                <div class="mb-2" id="podcastTvProgramFields" style="display: none;">
                    <label>Presentador</label>
                    <input type="text" class="form-control" id="txtPresentador" />
                    <label>Colaborador</label>
                    <input type="text" class="form-control" id="txtColaborador" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 offset-md-3 text-center">
        <a href="@Url.Action("Management", "Management")" class="btn btn-link">Volver a Administrar</a>
    </div>
</div>
<!--Fin Modal-->
@section Scripts{

    <script>

        const Modelo_base = {
            id: 0,
            type: "",
            title: "",
            duration: "",
            size: "",
            viewsContent: "",
            languageContent: "",
            formatContent: "",
            producer: "",
            imageUrl: "",
            actor: "",
            actress: "",
            presenter: "",
            collaborator: "",
        }

        $(document).ready(() => {

            listaContenidos();
        })
        $(document).ready(() => {
            $("#selTipoContenido").change(function () {
                var seleccion = $(this).val();

                if (seleccion === "pelicula" || seleccion === "serie") {
                    $("#peliculaSerieFields").show();
                    $("#podcastTvProgramFields").hide();
                } else if (seleccion === "podcast" || seleccion === "tvProgram") {
                    $("#podcastTvProgramFields").show();
                    $("#peliculaSerieFields").hide();
                } else {
                    $("#peliculaSerieFieldss").hide();
                    $("#podcastTvProgramFields").hide();
                }
                $("#txtTipo").val(seleccion).prop('readonly', true);
            });
        });

        function mostrarModal(modelo) {
            $("#txtIdContenido").val(modelo.Content.id);
            $("#txtTipo").val(modelo.Content.type);
            $("#txtTitulo").val(modelo.Content.title)
            $("#txtDuracion").val(modelo.Content.duration)
            $("#txtTamanio").val(modelo.Content.size)
            $("#txtVisitas").val(modelo.Content.viewsContent)
            $("#txtIdioma").val(modelo.Content.languageContent)
            $("#txtFormato").val(modelo.Content.formatContent)
            $("#txtProductor").val(modelo.Content.producer)
            $("#txtUrlImg").val(modelo.Content.imageUrl);
            
            if (modelo.FilmInfo ) {
                $("#peliculaSerieFields").show();
                $("#podcastTvProgramFields").hide();
                $("#txtActor").val(modelo.FilmInfo.actor);
                $("#txtActriz").val(modelo.FilmInfo.actress);
            }
            else if (modelo.SerieInfo) {
                $("#peliculaSerieFields").show();
                $("#podcastTvProgramFields").hide();
                $("#txtActor").val(modelo.SerieInfo.actor);
                $("#txtActriz").val(modelo.SerieInfo.actress);
            }
            else if (modelo.PodcastInfo) {
                $("#podcastTvProgramFields").show();
                $("#peliculaSerieFields").hide();
                $("#txtPresentador").val(modelo.PodcastInfo.presenter);
                $("#txtColaborador").val(modelo.PodcastInfo.collaborator);
            }
            else if (modelo.TvProgramInfo) {
                $("#podcastTvProgramFields").show();
                $("#peliculaSerieFields").hide();
                $("#txtPresentador").val(modelo.TvProgramInfo.presenter);
                $("#txtColaborador").val(modelo.TvProgramInfo.collaborator);
            }
            $('.modal').modal('show');
        }
        function mostrarModalNew() {
            $("#txtIdContenido").val(0)
            $("#txtTipo").val('')
            $("#txtTitulo").val('')
            $("#txtDuracion").val('')
            $("#txtTamanio").val('')
            $("#txtVisitas").val('')
            $("#txtIdioma").val('')
            $("#txtFormato").val('')
            $("#txtProductor").val('')
            $("#txtUrlImg").val('')
            $("#txtActor").val('')
            $("#txtActriz").val('')
            $("#txtPresentador").val('')
            $("#txtColaborador").val('')
            $("#selTipoContenido").val('');
            $("#peliculaSerieFields").hide();  // Oculta los campos de película/serie
            $("#podcastTvProgramFields").hide();
            $('.modal').modal('show');
        }

        $("#btnNuevo").click(() => {
            $("#selTipoContenido").prop("disabled", false);
            mostrarModalNew();
        })

        $("#btnGuardar").click(() => {
            console.log("Entrando en la función de guardar");
            let NuevoModelo = Modelo_base;
            console.log("Valor de NuevoModelo", NuevoModelo);
            NuevoModelo["id"] = $("#txtIdContenido").val();
            NuevoModelo["type"] = $("#selTipoContenido").val();
            NuevoModelo["title"] = $("#txtTitulo").val();
            NuevoModelo["duration"] = $("#txtDuracion").val();
            NuevoModelo["size"] = $("#txtTamanio").val();
            NuevoModelo["viewsContent"] = $("#txtVisitas").val();
            NuevoModelo["languageContent"] = $("#txtIdioma").val();
            NuevoModelo["formatContent"] = $("#txtFormato").val();
            NuevoModelo["producer"] = $("#txtProductor").val();
            NuevoModelo["imageUrl"] = $("#txtUrlImg").val();
            if ($("#selTipoContenido").val() === "pelicula" || $("#selTipoContenido").val() === "serie") {
                console.log("Guardando datos de película o serie");
                NuevoModelo["actor"] = $("#txtActor").val();
                NuevoModelo["actress"] = $("#txtActriz").val();
            } else if ($("#selTipoContenido").val() === "podcast" || $("#selTipoContenido").val() === "tvProgram") {
                console.log("Guardando datos de podcast o programa de TV");
                NuevoModelo["presenter"] = $("#txtPresentador").val();
                NuevoModelo["collaborator"] = $("#txtColaborador").val();
            }
            console.log("Antes del fetch de Insert o Update");
            if ($("#txtIdContenido").val() == "0") {
                fetch(`Insert?tipoContenido=${$("#selTipoContenido").val()}`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if (dataJson.valor) {
                            alert("creado");
                            $('.modal').modal('hide');
                            listaContenidos();
                        }
                    })
            } else {
                fetch(`Update?tipoContenido=${$("#selTipoContenido").val()}`, {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if (dataJson.valor) {
                            alert("editado");
                            $('.modal').modal('hide');
                            listaContenidos();
                        }
                    })
            }
        })

        function listaContenidos() {

            fetch("List")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {

                    $("#tbContenido tbody").html("");

                    dataJson.forEach((item) => {

                        $("#tbContenido tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.title),
                                $("<td>").text(item.type),
                                $("<td>").text(item.duration),
                                $("<td>").text(item.size),
                                $("<td>").text(item.viewsContent),
                                $("<td>").text(item.languageContent),
                                $("<td>").text(item.formatContent),
                                $("<td>").text(item.producer),
                                $("<td>").append(
                                    $("<img>").addClass("imagen-contenido").attr({ src: item.imageUrl, alt: "Imagen" }),
                                ),
                                $("<td>").append(
                                    $("<button>").addClass("btn btn-primary btn-sm me-2 btn-editar").data({ "modelo": item}).text("Editar"),
                                    $("<button>").addClass("btn btn-danger btn-sm btn-eliminar").data({ "id": item.id, "type": item.type}).text("Eliminar")
                                )
                            )
                        )
                    })
                })
        }

        $("#tbContenido tbody").on("click", ".btn-editar", function () {
            let contenido = $(this).data("modelo")
            fetch("GetContentDetails?id=" + contenido.id)
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {
                    mostrarModal(dataJson);
                    let tipoContenido = contenido.type;
                    if (tipoContenido) {
                        document.getElementById("selTipoContenido").value = tipoContenido;
                        $("#selTipoContenido").prop("disabled", true);
                    }
                })
                .catch((error) => {
                    console.error("Error al obtener detalles del contenido:", error);
                });
        })

        $("#tbContenido tbody").on("click", ".btn-eliminar", function () {
            let idcontenido= $(this).data("id")
            let tipoContenido = $(this).data("type");
            let resultado = window.confirm("¿Desea eliminar el contenido?");
            if (resultado) {
                fetch(`Delete?id=${idcontenido}&tipoContenido=${tipoContenido}`, {
                    method: "DELETE"
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {
                        if (dataJson.valor) {
                            listaContenidos();
                        }
                    })
            }
        })
    </script>
}