@{
    ViewData["Title"] = "Administrar";
}

<div class="text-center">
    <h1>Administrar</h1>
</div>

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <div class="d-flex justify-content-between">
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary btn-lg text-primary">Usuarios</a>
            <a href="@Url.Action("Content", "Content")" class="btn btn-primary btn-lg">Contenidos</a>
        </div>
    </div>
</div>
