﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <div class="card-header">Usuarios</div>
            <div class="card-body">

                <button class="btn btn-success" id="btnNuevo">Nuevo Usuario</button>

                <hr />

                <table class="table table-striped" id="tbUsuario">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Nick</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!--Fin tarjeta-->

    </div>
</div>



<!--Inicio Modal-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdUsuario" value="0" />
                <div class="mb-2">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" />
                </div>
                <div class="mb-2">
                    <label>Apellido</label>
                    <input type="text" class="form-control" id="txtApellido" />
                </div>
                <div class="mb-2">
                    <label>Email</label>
                    <input type="text" class="form-control" id="txtEmail" />
                </div>
                <div class="mb-2">
                    <label>Nick</label>
                    <input type="text" class="form-control" id="txtNick" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->
@section Scripts{

    <script>

        const Modelo_base = {
            id : 0,
            name : "",
            apellido : "",
            email : "",
            nick: ""
        }

        $(document).ready(() =>{

            listaUsuarios();
        })

        function mostrarModal(modelo){

            $("#txtIdUsuario").val(modelo.id);
            $("#txtNombre").val(modelo.name)
            $("#txtApellido").val(modelo.apellido)
            $("#txtEmail").val(modelo.email)
            $("#txtNick").val(modelo.nick)

            $('.modal').modal('show');
        }

        $("#btnNuevo").click(() => {

            mostrarModal(Modelo_base);
        })

        $("#btnGuardar").click(() => {
            let NuevoModelo = Modelo_base;

            NuevoModelo["id"] = $("#txtIdUsuario").val();
            NuevoModelo["name"]  = $("#txtNombre").val();
            NuevoModelo["apellido"]  = $("#txtApellido").val();
            NuevoModelo["email"]  = $("#txtEmail").val();
            NuevoModelo["nick"] = $("#txtNick").val();

            if($("#txtIdUsuario").val() == "0"){
                fetch("Home/Insert",{
                    method:"POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {

                    if(dataJson.valor){
                        alert("registrado");
                          $('.modal').modal('hide');
                         listaUsuarios();
                    }
                })
            }else{
                fetch("Home/Update",{
                    method:"PUT",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {

                    if(dataJson.valor){
                        alert("editado");
                            $('.modal').modal('hide');
                            listaUsuarios();
                    }
                })
            }
        })

        function listaUsuarios(){

            fetch("Home/List")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((dataJson) => {

                $("#tbUsuario tbody").html("");

                dataJson.forEach((item) => {

                    $("#tbUsuario tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.name),
                            $("<td>").text(item.apellido),
                            $("<td>").text(item.email),
                            $("<td>").text(item.nick),
                            $("<td>").append(
                                $("<button>").addClass("btn btn-primary btn-sm me-2 btn-editar").data("modelo",item).text("Editar"),
                                $("<button>").addClass("btn btn-danger btn-sm btn-eliminar").data("id",item.id).text("Eliminar")
                            )
                        )
                    )
                })
            })
        }

        $("#tbUsuario tbody").on("click",".btn-editar",function(){
            let usuario = $(this).data("modelo")
            mostrarModal(usuario)
        })

        $("#tbUsuario tbody").on("click",".btn-eliminar",function(){
        let idusuario = $(this).data("id")
        console.log(idusuario)
        let resultado = window.confirm("¿Desea eliminar el contacto?");
            if(resultado){
                fetch("Home/Delete?id=" + idusuario,{
                    method:"DELETE"
                })
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {
                    if(dataJson.valor){
                        listaUsuarios();
                    }
                })
            }
        })
    </script>
}
